.errorMessage {
    background-color: #ffcbcb;
    color: #430202;
}

.input {
    display: flex;
}

.inputWrapper {
    margin: 0 10px;
}

.descriptionLabel {
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    min-width: 100px;
    text-align: right;
}

.output {
    margin: 20px;
}
